{:include ["dev/**/*.clj"
           "dev/**/*.edn"
           "project.clj"
           "profiles.clj"
           "resources/**/*.edn"
           "src/**/*.clj"
           "src/**/*.edn"
           "test/**/*.clj"]}
